
#container{
    display: grid;
}

#sidebar{
    border: 1px solid black;
}

#main{
    border: 1px solid black;
    grid-template-columns: repeat(3, 1fr);

}

#img{
    border: 1px solid red;
    height: 300px;
    width: 500px;
    padding: 5px 5px 5px 5px;
}

#index-div{
    height: 300px;
    width: 500px;
}